@charset "UTF-8";
/* --------------------
color
-------------------- */
/* --------------------
Viewport
-------------------- */
/* --------------------
Breakpoint
-------------------- */
@media screen and (min-width: 768px) {
  .pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*PCの場合*/
.pc {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.mb {
  display: none !important;
}

@media screen and (max-width: 768px) {
  /*タブレット、スマホの場合*/
  .pc {
    display: none !important;
  }
  .mb {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

/* --------------------
html
-------------------- */
html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #eeedec;
  color: #000;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 4.26667vw;
    padding: 0 2%;
  }
}

.wrapper {
  margin: 0 auto;
}

.wrapper::after {
  border: 10px solid #000;
  content: "";
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .wrapper::after {
    display: none;
  }
}

.modal__wrapper {
  position: fixed;
  z-index: 999;
  top: 8px;
  right: 6px;
}

@media screen and (max-width: 768px) {
  .modal__wrapper {
    top: 0;
    right: 0;
  }
}

.modal__content {
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  color: #fff;
  background: #000;
  line-height: 0.6;
  padding: 20px 7px;
}

@media screen and (max-width: 768px) {
  .modal__content {
    width: 13.33333vw;
    height: 13.33333vw;
    padding: 2.66667vw 0;
    line-height: 0.3;
  }
}

.modal__bar {
  display: inline-block;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .modal__bar {
    left: 0;
    height: 0.53333vw;
    border-radius: 0.53333vw;
  }
}

.modal__close {
  position: fixed;
  z-index: 999;
  top: 8px;
  right: 6px;
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  color: #fff;
  background: #000;
  line-height: 0.6;
  padding: 23px 3px 20px 7px;
}

@media screen and (max-width: 768px) {
  .modal__close {
    top: 0;
    right: 0;
    width: 13.33333vw;
    height: 13.33333vw;
    padding: 4vw 0;
    line-height: 0.3;
  }
}

.modal__close-bar {
  display: inline-block;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .modal__close-bar {
    height: 0.8vw;
    border-radius: 0.53333vw;
  }
}

.modal__close-bar:nth-of-type(1) {
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .modal__close-bar:nth-of-type(1) {
    -webkit-transform: translateY(0.8vw) rotate(-45deg);
            transform: translateY(0.8vw) rotate(-45deg);
  }
}

.modal__close-bar:nth-of-type(2) {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .modal__close-bar:nth-of-type(2) {
    -webkit-transform: translateY(-1.6vw) rotate(45deg);
            transform: translateY(-1.6vw) rotate(45deg);
  }
}

.modal__close-content {
  height: 100vh;
  position: relative;
}

.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.modal__list {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .modal__list {
    margin-bottom: 21.33333vw;
  }
}

.modal__item {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .modal__item {
    font-size: 10.66667vw;
    margin-bottom: 5.33333vw;
  }
}

.modal__item:last-of-type {
  margin-bottom: 0px;
}

.modal__logo {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .modal__logo {
    width: 100%;
    height: auto;
  }
}

/* --------------------
header
-------------------- */
.header {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 70px;
  top: 20px;
  padding: 0 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    display: none;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__item {
  text-align: center;
  margin-right: 32px;
}

.header__item:last-of-type {
  margin-right: 0;
}

.header__title {
  position: relative;
}

.header__title::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.header__title:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.header__title::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #a1cdff;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header__title--re {
  position: absolute;
  left: 110px;
}

.Text-Span {
  position: relative;
  z-index: 1;
}

.Text-Span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 4px;
  border-radius: 4px;
  background: #5582b5;
  z-index: -1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.Text-Span.isActive:after {
  width: 100%;
}

/* --------------------
footer
-------------------- */
.footer {
  height: 80px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 21.33333vw;
  }
}

.footer__copyright {
  font-weight: 300;
  color: #fff;
}

/* --------------------
article
-------------------- */
.article {
  padding: 200px 0;
}

@media screen and (max-width: 768px) {
  .article {
    padding: 26.66667vw 0 0;
    margin: 0 auto;
  }
}

.article__title {
  font-size: 45px;
  text-align: center;
  margin-bottom: 70px;
}

.article__title--para {
  display: block;
  font-size: 18px;
  margin-top: 8px;
}

.article__topImg {
  display: block;
  text-align: center;
  margin-bottom: 68px;
}

@media screen and (max-width: 768px) {
  .article__topImg {
    width: 100%;
    margin-bottom: 8vw;
  }
}

@media screen and (max-width: 768px) {
  .article__topImg img {
    width: 100%;
    height: auto;
  }
}

.article__btn {
  width: 950px;
  margin: 0 auto;
  position: relative;
  padding: 20px 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  background: #5582b5;
  color: #fff;
  font-weight: 300;
  outline: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-bottom: 158px;
}

@media screen and (max-width: 768px) {
  .article__btn {
    width: 100%;
    padding: 5.33333vw 8vw;
    margin-bottom: 21.33333vw;
  }
}

.article__btn:hover {
  background: #7cb6f8;
  color: #fff;
}

.article__wrapper {
  width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .article__wrapper {
    width: 100%;
    display: block;
  }
}

.article__list {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .article__list {
    margin-bottom: 16vw;
  }
}

.article__list:last-of-type {
  margin-bottom: 21.33333vw;
}

.article__menu {
  font-size: 38px;
  margin-bottom: 60px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .article__menu {
    font-size: 8vw;
    margin-bottom: 10.66667vw;
  }
}

.article__text {
  font-weight: 400;
  line-height: 2.2;
  margin-bottom: 108px;
}

@media screen and (max-width: 768px) {
  .article__text {
    margin-bottom: 21.33333vw;
  }
}

.article__itemTitle {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .article__itemTitle {
    font-size: 4.8vw;
    margin-bottom: 6.4vw;
  }
}

.article__itemText {
  font-weight: 400;
  line-height: 1.87;
}

@media screen and (max-width: 768px) {
  .article__itemText {
    margin-bottom: 2.13333vw;
  }
}

.article__itemText:first-of-type {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .article__itemText:first-of-type {
    margin-bottom: 5.33333vw;
  }
}

@media screen and (max-width: 768px) {
  .article__itemImg {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .article__itemImg img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .article__preview-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .article__preview-img img {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=article.css.map */