@charset "UTF-8";
/* --------------------
color
-------------------- */
/* --------------------
Viewport
-------------------- */
/* --------------------
Breakpoint
-------------------- */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@media screen and (min-width: 768px) {
  .pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*PCの場合*/
.pc {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.mb {
  display: none !important;
}

@media screen and (max-width: 768px) {
  /*タブレット、スマホの場合*/
  .pc {
    display: none !important;
  }
  .mb {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

/* --------------------
html
-------------------- */
html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #eeedec;
  color: #000;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 4.26667vw;
  }
}

img {
  display: block;
}

.wrapper {
  margin: 0 auto;
}

.wrapper::after {
  border: 10px solid #000;
  content: "";
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .wrapper::after {
    display: none;
  }
}

.modal__wrapper {
  position: fixed;
  z-index: 999;
  top: 8px;
  right: 6px;
}

@media screen and (max-width: 768px) {
  .modal__wrapper {
    top: 0;
    right: 0;
  }
}

.modal__content {
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  color: #fff;
  background: #000;
  line-height: 0.6;
  padding: 20px 7px;
}

@media screen and (max-width: 768px) {
  .modal__content {
    width: 13.33333vw;
    height: 13.33333vw;
    padding: 2.66667vw 0;
    line-height: 0.3;
  }
}

.modal__bar {
  display: inline-block;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .modal__bar {
    left: 0;
    height: 0.53333vw;
    border-radius: 0.53333vw;
  }
}

.modal__close {
  position: fixed;
  z-index: 999;
  top: 8px;
  right: 6px;
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  color: #fff;
  background: #000;
  line-height: 0.6;
  padding: 23px 3px 20px 7px;
}

@media screen and (max-width: 768px) {
  .modal__close {
    top: 0;
    right: 0;
    width: 13.33333vw;
    height: 13.33333vw;
    padding: 4vw 0;
    line-height: 0.3;
  }
}

.modal__close-bar {
  display: inline-block;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .modal__close-bar {
    height: 0.8vw;
    border-radius: 0.53333vw;
  }
}

.modal__close-bar:nth-of-type(1) {
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .modal__close-bar:nth-of-type(1) {
    -webkit-transform: translateY(0.8vw) rotate(-45deg);
            transform: translateY(0.8vw) rotate(-45deg);
  }
}

.modal__close-bar:nth-of-type(2) {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .modal__close-bar:nth-of-type(2) {
    -webkit-transform: translateY(-1.6vw) rotate(45deg);
            transform: translateY(-1.6vw) rotate(45deg);
  }
}

.modal__close-content {
  height: 100vh;
  position: relative;
}

.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.modal__list {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .modal__list {
    margin-bottom: 21.33333vw;
  }
}

.modal__item {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .modal__item {
    font-size: 10.66667vw;
    margin-bottom: 5.33333vw;
  }
}

.modal__item:last-of-type {
  margin-bottom: 0px;
}

.modal__logo {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .modal__logo {
    width: 100%;
    height: auto;
  }
}

.ityped-cursor {
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
          animation: blink 0.3s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

/* --------------------
ファーストビューアニメーション
-------------------- */
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999999;
  text-align: center;
  color: #fff;
}

#splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*画面遷移アニメーション*/
.splashbg {
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg {
  display: block;
  -webkit-animation-name: PageAnime;
          animation-name: PageAnime;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 50%;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-300%) skewX(-45deg);
          transform: translateX(-300%) skewX(-45deg);
  background-color: #000;
}

@-webkit-keyframes PageAnime {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(-300%) skewX(-45deg);
            transform: translateX(-300%) skewX(-45deg);
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(500%) skewX(-45deg);
            transform: translateX(500%) skewX(-45deg);
  }
}

@keyframes PageAnime {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(-300%) skewX(-45deg);
            transform: translateX(-300%) skewX(-45deg);
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(500%) skewX(-45deg);
            transform: translateX(500%) skewX(-45deg);
  }
}

.contents-wrapper {
  opacity: 0;
}

body.appear .contents-wrapper {
  -webkit-animation-name: PageAnimeAppear;
          animation-name: PageAnimeAppear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------------------
header
-------------------- */
.header {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 70px;
  top: 20px;
  padding: 0 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    display: none;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__item {
  text-align: center;
  margin-right: 32px;
}

.header__item:last-of-type {
  margin-right: 0;
}

.header__title {
  position: relative;
}

.header__title::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.header__title:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.header__title::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #a1cdff;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

/* --------------------
main
-------------------- */
.main {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}

.main__logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin: auto;
}

@media screen and (max-width: 768px) {
  .main__logo-container {
    top: 43%;
  }
}

.main__logo {
  width: 900px;
}

@media screen and (max-width: 768px) {
  .main__logo {
    width: 86.4vw;
  }
}

.main__subtitle {
  display: block;
  padding-top: 60px;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main__subtitle {
    padding-top: 16vw;
    font-size: 5.33333vw;
  }
}

.main .scroll {
  position: absolute;
  top: 650px;
  left: 50%;
  width: 20px;
  height: 50px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 1em;
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .main .scroll {
    top: 67%;
    width: 5.33333vw;
    height: 13.33333vw;
    border: 0.53333vw solid #000;
  }
}

.main .scroll:hover {
  letter-spacing: 0.22rem;
}

.main .scroll::before {
  content: "scroll";
  position: absolute;
  top: -30px;
  left: -31px;
  width: 80px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main .scroll::before {
    top: -8vw;
    left: -8.26667vw;
    width: 21.33333vw;
  }
}

.main .scroll span {
  position: absolute;
  top: 15%;
  left: 0.4em;
  display: block;
  width: 0.25em;
  height: 0.25em;
  border-radius: 50%;
  background: #5582b5;
  -webkit-animation: 2s small-dot-move infinite running ease-out;
          animation: 2s small-dot-move infinite running ease-out;
}

@-webkit-keyframes small-dot-move {
  from {
    top: 15%;
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  to {
    top: 80%;
    opacity: 0.3;
  }
}

@keyframes small-dot-move {
  from {
    top: 15%;
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  to {
    top: 80%;
    opacity: 0.3;
  }
}

/* --------------------
PROFILE
-------------------- */
.profile {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 130px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .profile {
    margin-bottom: 9.33333vw;
  }
}

.profile__title {
  font-size: 36px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .profile__title {
    font-size: 5.33333vw;
    margin-bottom: 5.33333vw;
  }
}

.profile__title--para {
  margin-left: 14px;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .profile__title--para {
    margin-left: 3.73333vw;
    font-size: 3.2vw;
  }
}

.profile__bg {
  background-color: #000;
  color: #fff;
  width: 916px;
  position: relative;
  margin: 0 0 140px auto;
  padding: 100px 60px 100px 136px;
}

@media screen and (max-width: 768px) {
  .profile__bg {
    width: 100%;
    margin: 0;
    padding: 24vw 4.8vw;
    margin-bottom: 10.66667vw;
  }
}

.profile__circle {
  width: 173px;
  height: 173px;
  color: #5582b5;
  border-radius: 87px;
  position: absolute;
  top: 36px;
  left: -305px;
  z-index: 0;
  -webkit-animation: wobbling_x 0.8s ease-in-out infinite alternate, wobbling_y 1.1s ease-in-out infinite alternate;
          animation: wobbling_x 0.8s ease-in-out infinite alternate, wobbling_y 1.1s ease-in-out infinite alternate;
}

@media screen and (max-width: 768px) {
  .profile__circle {
    width: 23.46667vw;
    height: 23.46667vw;
    border-radius: 23.2vw;
    top: -33.33333vw;
    left: 19.73333vw;
  }
}

@-webkit-keyframes wobbling_x {
  0% {
    margin-left: 16px;
    @media screen and (max-width: 768px) {
      margin-left: 4.26667vw;
    }
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes wobbling_x {
  0% {
    margin-left: 16px;
    @media screen and (max-width: 768px) {
      margin-left: 4.26667vw;
    }
  }
  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes wobbling_y {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 16px;
    @media screen and (max-width: 768px) {
      margin-left: 4.26667vw;
    }
  }
}

@keyframes wobbling_y {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 16px;
    @media screen and (max-width: 768px) {
      margin-left: 4.26667vw;
    }
  }
}

.profile__img {
  position: absolute;
  top: 102px;
  left: -254px;
}

@media screen and (max-width: 768px) {
  .profile__img {
    width: 42.66667vw;
    height: 42.66667vw;
    top: -26.66667vw;
    left: 29%;
  }
}

@media screen and (max-width: 768px) {
  .profile__img img {
    width: 42.66667vw;
    height: 42.66667vw;
  }
}

.profile__name {
  font-size: 42px;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .profile__name {
    font-size: 6.13333vw;
    margin-bottom: 16vw;
  }
}

.profile__text {
  font-weight: 300;
  line-height: 1.87;
}

@media screen and (max-width: 768px) {
  .profile__text {
    font-size: 3.73333vw;
    margin-bottom: 2.66667vw;
  }
}

.profile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1270px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .profile__list {
    width: 100%;
  }
}

.profile__whiteArea {
  background: #fff;
  width: 900px;
  height: 614px;
  padding: 127px 0 0 170px;
}

.profile__whiteArea:nth-of-type(2) {
  margin: 0 auto;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .profile__whiteArea:nth-of-type(2) {
    margin: 0 auto 4.26667vw;
  }
}

@media screen and (max-width: 768px) {
  .profile__whiteArea {
    width: 92%;
    height: auto;
    padding: 8vw 5.33333vw;
    margin: 0 auto 4.26667vw;
  }
}

.profile__whiteArea-textBox {
  display: block;
  margin: 0 auto;
}

.profile__whiteArea-title {
  font-size: 21px;
  font-weight: 900;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .profile__whiteArea-title {
    font-size: 3.46667vw;
    margin-bottom: 6.4vw;
  }
}

.profile__whiteArea-head {
  font-size: 26px;
  margin-bottom: 50px;
  font-weight: 700;
  line-height: 1.84;
}

@media screen and (max-width: 768px) {
  .profile__whiteArea-head {
    font-size: 4.26667vw;
    margin-bottom: 5.33333vw;
  }
}

.profile__whiteArea-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.14;
}

@media screen and (max-width: 768px) {
  .profile__whiteArea-text {
    font-size: 3.73333vw;
    margin-bottom: 2.66667vw;
  }
}

.profile__whiteArea-imgBox {
  width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  right: 100px;
}

@media screen and (max-width: 768px) {
  .profile__whiteArea-imgBox {
    display: none;
  }
}

.profile__whiteArea-imgBox--rv {
  left: 100px;
}

.profile__whiteArea-imgsm {
  padding-top: 187px;
}

.Text-Span {
  position: relative;
  z-index: 1;
}

.Text-Span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #000;
  z-index: -1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.Text-Span.isActive:after {
  width: 100%;
}

.blur {
  -webkit-animation-name: blurAnime;
          animation-name: blurAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blurAnime {
  from {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes blurAnime {
  from {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.blurTrigger {
  opacity: 0;
}

/* --------------------
SKILLS
-------------------- */
.skills {
  background-color: #fff;
  padding: 100px 0 120px;
}

@media screen and (max-width: 768px) {
  .skills {
    padding: 13.33333vw 0 16vw;
  }
}

.skills__title {
  font-size: 72px;
  text-align: center;
  margin-bottom: 120px;
}

@media screen and (max-width: 768px) {
  .skills__title {
    font-size: 10.13333vw;
    margin-bottom: 11.2vw;
  }
}

.skills__title--para {
  display: block;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .skills__title--para {
    font-size: 2.66667vw;
  }
}

.skills__list {
  margin: 0 auto;
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .skills__list {
    padding-bottom: 0;
  }
}

.skills__swiper {
  position: relative;
  margin: 0 auto;
}

.skills .swiper-container {
  width: 1000px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .skills .swiper-container {
    width: 100%;
    padding-bottom: 8vw;
  }
}

.skills .swiper-button-prev {
  left: 8.1%;
}

.skills .swiper-button-next {
  right: 9%;
}

.skills .swiper-pagination {
  bottom: 60px;
}

@media screen and (max-width: 768px) {
  .skills .swiper-pagination {
    bottom: 0vw;
  }
}

.skills .swiper-button-next,
.skills .swiper-button-prev {
  --swiper-navigation-color: #5582b5;
}

.skills__item {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 768px) {
  .skills__item {
    margin-right: 0 !important;
  }
}

.skills__item-title {
  background: url("../img/skill__code.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  padding: 80px 56px;
  text-shadow: 0px 3px 6px black;
}

@media screen and (max-width: 768px) {
  .skills__item-title {
    font-size: 5.33333vw;
    padding: 13.33333vw 21.33333vw;
  }
}

.skills__item .title-design {
  background: url("../img/skill__design.jpg");
  background-size: cover;
}

.skills__item .title-other {
  background: url("../img/skill__other.jpg");
  background-size: cover;
}

.skills__item-textbox {
  padding: 42px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .skills__item-textbox {
    width: 80%;
    padding: 11.2vw 0;
    margin: 0 auto;
  }
}

.skills__item-skill {
  font-size: 20px;
  color: #fff;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .skills__item-skill {
    font-size: 3.46667vw;
    margin-right: 4.26667vw;
  }
}

.skills__item-skillText {
  background: #5582b5;
  padding: 10px 20px 8px;
  margin-bottom: 14px;
  text-align: center;
}

.skills__item-skillText:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .skills__item-skillText {
    font-size: 3.46667vw;
    padding: 2.13333vw 3.46667vw 1.86667vw;
    margin-bottom: 3.73333vw;
  }
}

.skills__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .skills__item-text {
    font-size: 3.73333vw;
  }
}

/* --------------------
WORKS
-------------------- */
.works {
  padding: 130px 0 160px 0;
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .works {
    padding: 16vw 0;
  }
}

.works__title {
  margin: 0 auto;
  font-size: 52px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .works__title {
    width: 100%;
    font-size: 10.13333vw;
    margin-bottom: 10.66667vw;
  }
}

.works__title--para {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.227rem;
  color: #fff;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .works__title--para {
    font-size: 2.66667vw;
    padding-top: 2.66667vw;
  }
}

.works__caption {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .works__caption {
    font-size: 3.73333vw;
    margin-bottom: 21.33333vw;
    line-height: 1.8;
  }
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1086px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .works__list {
    display: block;
    width: 96%;
  }
}

.works__item {
  position: relative;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .works__item {
    margin-bottom: 10.66667vw;
  }
}

.works__item:nth-child(2n + 2) {
  top: 135px;
}

@media screen and (max-width: 768px) {
  .works__item:nth-child(2n + 2) {
    top: 0;
  }
}

.works__item:nth-of-type(n + 5) {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .works__btnWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.works__btn {
  width: 100%;
  position: relative;
  border: 1px solid #fff;
  padding: 8px 0;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  outline: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .works__btn {
    width: 100%;
    border: 0.26667vw solid #fff;
    padding: 3.2vw 0;
    font-size: 3.2vw;
    margin-top: 1.6vw;
    margin-right: 1.6vw;
  }
  .works__btn:last-of-type {
    margin-right: 0;
  }
}

.works__btn:hover {
  background: #f0f0f0;
  color: #000;
}

.works figure.works__link {
  overflow: hidden;
  color: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
  .works figure.works__link {
    -webkit-box-shadow: 0 0 1.33333vw rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 1.33333vw rgba(0, 0, 0, 0.15);
  }
}

.works figure.works__link * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.works figure.works__link img {
  position: relative;
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .works figure.works__link img {
    width: 100%;
    height: auto;
  }
}

.works figure.works__link .circle {
  position: relative;
  height: 55px;
  width: 55px;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .works figure.works__link .circle {
    height: 14.66667vw;
    width: 14.66667vw;
    left: 3%;
  }
}

.works figure.works__link .circle:before, .works figure.works__link .circle:after {
  border: 2px solid white;
  border-right-color: transparent;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

@media screen and (max-width: 768px) {
  .works figure.works__link .circle:before, .works figure.works__link .circle:after {
    border: 0.53333vw solid white;
  }
}

.works figure.works__link .circle:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.works figure.works__link .circle:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.works figure.works__link figcaption {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .works figure.works__link figcaption {
    display: none;
    top: 5.33333vw;
    left: 0vw;
  }
}

.works figure.works__link h2 {
  position: absolute;
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 55px;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 0 20px;
  opacity: 0;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
}

@media screen and (max-width: 768px) {
  .works figure.works__link h2 {
    font-size: 4.26667vw;
    line-height: 14.66667vw;
    padding: 0 5.33333vw;
  }
}

.works figure.works__link .icon {
  overflow: hidden;
  width: 100%;
  position: absolute;
}

.works figure.works__link i {
  font-size: 48px;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

@media screen and (max-width: 768px) {
  .works figure.works__link i {
    font-size: 12.8vw;
  }
}

.works figure.works__link a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 92px;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .works figure.works__link a {
    pointer-events: none;
  }
}

.works figure.works__link:hover .circle {
  background-color: rgba(0, 0, 0, 0);
}

.works figure.works__link:hover .circle:before, .works figure.works__link:hover .circle:after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.works figure.works__link:hover h2 {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.works figure.works__link:hover img {
  opacity: 0.35;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .works figure.works__link:hover img {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.works figure.works__link:hover i {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.works__link-title {
  color: #fff;
  font-size: 4.26667vw;
  margin-bottom: 2.66667vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* --------------------
contact
-------------------- */
.contact {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .contact {
    margin-bottom: 16vw;
  }
}

.contact__bg {
  height: 240px;
  background: url("/assets/img/contact.jpg") fixed center center/cover;
  padding: 75px 0;
  margin-bottom: 120px;
}

@media screen and (max-width: 768px) {
  .contact__bg {
    height: 29.33333vw;
    background: url("/assets/img/contact.jpg") no-repeat center center;
    background-size: 100% auto;
    padding: 5.33333vw;
    margin-bottom: 10.66667vw;
  }
}

.contact__title {
  margin: 0 auto;
  font-size: 52px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact__title {
    font-size: 10.13333vw;
  }
}

.contact__title--para {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.227rem;
  color: #fff;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .contact__title--para {
    font-size: 2.66667vw;
    padding-top: 2.66667vw;
  }
}

.contact__thankyou {
  font-weight: 300;
  line-height: 2;
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .contact__thankyou {
    font-size: 3.73333vw;
    margin-bottom: 10.66667vw;
  }
}

.contact__img {
  margin: 0 auto;
}

/* --------------------
footer
-------------------- */
.footer {
  height: 80px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 21.33333vw;
  }
}

.footer__copyright {
  font-weight: 300;
  color: #fff;
}

/* --------------------
article
-------------------- */
.article {
  /*   &__gray-bg {
    background: url("../img/article__bg.svg") no-repeat;
    background-size: auto;
    background-position: bottom;
  } */
}

.article__title {
  font-size: 45px;
  text-align: center;
  margin-bottom: 70px;
}

.article__title--para {
  display: block;
  font-size: 18px;
  margin-top: 8px;
}

.article__topImg img {
  margin: 0 auto;
  margin-bottom: 68px;
}

.article__btn {
  width: 950px;
  margin: 0 auto;
  position: relative;
  padding: 20px 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #5582b5;
  color: #fff;
  font-weight: 300;
  outline: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.article__btn:hover {
  background: #000;
  color: #fff;
}

.article__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -26px;
  width: 40px;
  height: 1px;
  background: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.article__btn::after {
  content: "";
  position: absolute;
  top: 20%;
  right: -21px;
  width: 1px;
  height: 12px;
  background: #fff;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.article__btn:hover::before {
  right: -30px;
}

.article__btn:hover::after {
  right: -25px;
}

.article__bg {
  background: url("../img/article__bg.svg") no-repeat;
  background-size: contain;
  background-position-y: -5px;
  background-color: #fff;
  position: relative;
  z-index: 0;
}

.article__wrapper {
  width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 158px;
}

.article__menu {
  font-size: 38px;
  margin-bottom: 35px;
  position: relative;
}

.article__menu::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: #b9daff;
  position: absolute;
  top: -6px;
  left: -16px;
  z-index: -1;
}

.article__text {
  font-weight: 400;
  line-height: 2.2;
  margin-bottom: 108px;
}

.article__itemTitle {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
}

.article__itemText {
  font-weight: 400;
  line-height: 1.87;
  margin-bottom: 62px;
}

.article__itemImg img {
  margin-bottom: 90px;
}

.article__footer {
  background: url("../img/article__footer-bg.svg") no-repeat;
  background-size: cover;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__footer-copyright {
  font-weight: 300;
  color: #fff;
  position: relative;
  top: 40px;
}
/*# sourceMappingURL=style.css.map */